:root {
  --oui-font-family: 'Manrope', sans-serif;

  /* colors */
  --oui-color-primary: 96 108 176;
  --oui-color-primary-light: 138 147 204;
  --oui-color-primary-darken: 68 81 152;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 125 114 193;
  --oui-color-link-light: 173 158 227;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 237 87 145;
  --oui-color-danger-light: 250 143 190;
  --oui-color-danger-darken: 221 63 121;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 92 229 170;
  --oui-color-success-darken: 0 152 113;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 228 122;
  --oui-color-warning-darken: 255 173 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 249 161 63;
  --oui-color-fill-active: 245 158 59;

  --oui-color-base-1: 249 211 158;
  --oui-color-base-2: 245 205 143;
  --oui-color-base-3: 239 193 121;
  --oui-color-base-4: 233 182 109;
  --oui-color-base-5: 228 172 98;
  --oui-color-base-6: 221 161 86;
  --oui-color-base-7: 207 144 74;
  --oui-color-base-8: 198 136 64;
  --oui-color-base-9: 188 126 56;
  --oui-color-base-10: 176 114 49;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 63 56 124;
  --oui-gradient-primary-end: 125 114 193;

  --oui-gradient-secondary-start: 75 64 133;
  --oui-gradient-secondary-end: 96 108 176;

  --oui-gradient-success-start: 15 128 95;
  --oui-gradient-success-end: 41 233 169;

  --oui-gradient-danger-start: 173 39 83;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 201 173 240;
  --oui-gradient-brand-end: 133 107 207;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 173 109 14;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 25 37;
  --oui-gradient-neutral-end: 249 161 63;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}